<app-banner [title]="'Teachers'"></app-banner>
<section class="team-area section-padding40 fix d-flex">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Community experts</h2>
                </div>
            </div>
        </div>
        <div class="team-active d-flex">
            <app-teacher></app-teacher>
        </div>
    </div>
</section>