<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li class="active"><a routerLink="/">Home</a></li>
                                            <li><a routerLink="courses">Courses</a></li>
                                            <li><a routerLink="teachers">Teachers</a></li>
                                            <li *ngIf="user.role == 'admin'"><a routerLink="dashboardAdmin">Admin
                                                    Dashboard</a></li>
                                            <li *ngIf="user.role == 'teacher'"><a routerLink="teacherDashboard">Teacher
                                                    Dashboard</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <!-- Button -->
                                            <li class="button-header margin-left " *ngIf="!user.role"><a
                                                    routerLink="signUpStudent" class="btn">Sign Up</a></li>
                                            <li class="button-header" *ngIf="!user.role"><a routerLink="login"
                                                    class="btn btn3">Log in</a>
                                            <li *ngIf="user.role">
                                                <a class="nav-link">
                                                    <img style="width: 40px;  height: 40px;" [src]="user.photo">
                                                    {{user.firstName}}
                                                    {{user.lastName}}
                                                </a>
                                            </li>
                                            <li class="button-header" *ngIf="user.role"><a class="btn btn3"
                                                    (click)="logOut()">Log Out</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>