<app-banner [title]="'Sign Up'"></app-banner>
<form class="form-contact contact_form mt-3 mx-auto w-50" id="contactForm" [formGroup]="signUpForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <input class="form-control valid" type="text" placeholder="First Name" formControlName="firstName">
                <div *ngIf="signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched">
                    <div class="text-danger" *ngIf="signUpForm.get('firstName')?.errors?.['required']">
                        FN is required
                    </div>
                    <div class="text-danger" *ngIf="signUpForm.get('firstName')?.errors?.['minlength']">
                        FN should have at least 2 characters
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <input class="form-control valid" type="text" formControlName="lastName" placeholder="Last Name">
                <div *ngIf="signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched">
                    <div class="text-danger" *ngIf="signUpForm.get('lastName')?.errors?.['required']">
                        LN is required
                    </div>
                    <div class="text-danger" *ngIf="signUpForm.get('lastName')?.errors?.['minlength']">
                        LN should have at least 2 characters
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <input class="form-control valid" type="email" formControlName="email" placeholder="Email">
                <div *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">
                    <div class="text-danger" *ngIf="signUpForm.get('email')?.errors?.['required']">
                        Email is required
                    </div>
                    <div class="text-danger" *ngIf="signUpForm.get('email')?.errors?.['email']">
                        Email format invalid
                    </div>
                </div>
                <span style="color: red;">{{emailErrorMsg}}</span>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <input class="form-control valid" type="password" formControlName="password" placeholder="Password">
                <div *ngIf="signUpForm.controls['password'].invalid && signUpForm.controls['password'].touched">
                    <div *ngIf="signUpForm.controls['password'].invalid && signUpForm.controls['password'].touched">
                        <div class="text-danger" *ngIf="signUpForm.controls['password'].errors?.['required']">
                            Password is required.
                        </div>
                        <div class="text-danger" *ngIf="signUpForm.controls['password'].errors?.['minlength']">
                            Password must be at least 8 characters.
                        </div>
                        <div class="text-danger" *ngIf="signUpForm.controls['password'].errors?.['maxlength']">
                            Password must be at most 20 characters.
                        </div>
                        <!-- Show individual strong password criteria errors -->
                        <div class="text-danger"
                            *ngIf="signUpForm.controls['password'].errors?.['strongPassword']?.['missingUppercase']">
                            Password must include at least one uppercase letter.
                        </div>
                        <div class="text-danger"
                            *ngIf="signUpForm.controls['password'].errors?.['strongPassword']?.['missingLowercase']">
                            Password must include at least one lowercase letter.
                        </div>
                        <div class="text-danger"
                            *ngIf="signUpForm.controls['password'].errors?.['strongPassword']?.['missingNumber']">
                            Password must include at least one number.
                        </div>
                        <div class="text-danger"
                            *ngIf="signUpForm.controls['password'].errors?.['strongPassword']?.['missingSpecialChar']">
                            Password must include at least one special character.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <input class="form-control valid" type="password" formControlName="confirmPassword"
                    placeholder="Confirm Password">
                <div *ngIf="signUpForm.get('confirmPassword')?.touched && signUpForm.get('confirmPassword')?.invalid">
                    <div class="text-danger" *ngIf="signUpForm.get('confirmPassword')?.errors?.['required']">
                        Confirm Password is required
                    </div>
                </div>
                <div *ngIf="signUpForm.errors?.['passwordMismatch'] && signUpForm.get('confirmPassword')?.touched"
                    class="text-danger">
                    Passwords must match
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <input class="form-control valid" type="text" formControlName="telephone" placeholder="Telepohne">
                <div *ngIf="signUpForm.get('telephone')?.invalid && signUpForm.get('telephone')?.touched">
                    <div class="text-danger" *ngIf="signUpForm.get('telephone')?.errors?.['required']">
                        Telephone is required
                    </div>
                    <div class="text-danger" *ngIf="signUpForm.get('telephone')?.errors?.['pattern']">
                        Telephone must be exactly 8 digits.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 mb-5" *ngIf="path == '/signUpParent'">
            <div formArrayName="childTelephones">
                <div *ngFor="let ctrl of childTelephones.controls; let i = index"
                    class="form-group d-flex align-items-center">
                    <input class="form-control valid mr-2" type="text" [formControlName]="i"
                        placeholder="Child Telephone">
                    <button type="button" class="btn btn-danger" (click)="removeChildTelephone(i)">X</button>
                </div>
                <button type="button" class="btn btn-primary" (click)="addChildTelephone()">+ Add Another</button>
                <div *ngIf="phoneErrorMsg" class="text-danger mt-2">{{ phoneErrorMsg }}</div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <input class="form-control valid" type="text" formControlName="address" placeholder="Address">
                <div *ngIf="signUpForm.get('address')?.invalid && signUpForm.get('address')?.touched">
                    <div class="text-danger" *ngIf="signUpForm.get('address')?.errors?.['required']">
                        Address is required
                    </div>
                    <div class="text-danger" *ngIf="signUpForm.get('address')?.errors?.['minlength']">
                        Address should have at least 2 characters
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" *ngIf="path == '/signUpTeacher'">
            <div class="form-group">
                <input class="form-control valid" type="text" formControlName="speciality" placeholder="Speciality">
                <div *ngIf="signUpForm.get('speciality')?.invalid && signUpForm.get('speciality')?.touched">
                    <div class="text-danger" *ngIf="signUpForm.get('speciality')?.errors?.['required']">
                        Speciality is required
                    </div>
                    <div class="text-danger" *ngIf="signUpForm.get('speciality')?.errors?.['minlength']">
                        Speciality should have at least 2 characters
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <!-- Student photo -->
            <div class="col-sm-6">
                <button type="button" (click)="photoPicker.click()" class="btn btn-success">Sélectionner image</button>
                <input type="file" hidden (change)="onFileSelected($event, 'photo')" #photoPicker>
            </div>

            <!-- Teacher CV -->
            <div class="col-sm-6" *ngIf="path == '/signUpTeacher'">
                <button type="button" (click)="cvPicker.click()" class="btn btn-success">Sélectionner CV</button>
                <input type="file" hidden (change)="onFileSelected($event, 'cv')" #cvPicker>
            </div>
        </div>


    </div>
    <div class="form-group mt-3">
        <button type="button" class="button button-contactForm boxed-btn mx-auto d-block w-100" (click)="signUp()"
            [disabled]="signUpForm.invalid">Sign Up</button>
    </div>
</form>