<app-banner [title]="'Courses'"></app-banner>

<div class="courses-area section-padding40 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Our featured courses</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <app-course></app-course>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mt-40">
                    <a href="#" class="border-btn">Load More</a>
                </div>
            </div>
        </div>
    </div>
</div>