/* You can add global styles to this file, and also import other style files */
.custom-swal-popup {
  height: 300px !important;
}

.custom-swal-title {
  font-size: 28px !important;
}

.custom-swal-text {
  font-size: 25px !important;
}
